// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

.title {
    text-align: center;
}

.welcome {
    display: flex;
    width: 400px;
    height: 150px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    &__link {
        text-decoration: none;
    }
}

.sexe {
    display:flex;
    column-gap: 10px;
}