// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
// @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';


$legend-opacity: 0.75;

.title {
    text-align: center;
}

.welcome {
    display: flex;
    width: 400px;
    height: 150px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    &__link {
        text-decoration: none;
    }
}

.sexe, .morpho {
    display:flex;
    column-gap: 10px;
}

.activity {
    display: flex;
    column-gap: 20px;
}

.dashboard__data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;

    &--weightsChart, &--imcsChart {
        display: flex;
        justify-content: center;
        width: 800px;
        height: 400px;
    }
}

.dashboard__idealweight {
    display: flex;
    justify-content: center;
    column-gap: 150px;
    align-items: center;
    height: 350px;

    &--lorentz, &--creff {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
    }
}

.data__weight, .data__imc {
    height: 500px;
}

.imc__donut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    column-gap: 100px;

    &--justgage {
        width: 220px;
        text-align: center;
    }
}

#donut {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
        #ffff00 0deg 60deg,
        #ffb800 60deg 120deg,
        #ff6800 120deg 180deg,
        #f44242 180deg 240deg,
        #a3f5ff 240deg 300deg,
        #54ce54 300deg 360deg
    );
}

#donut::before {
    content: "IMC";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
}

.imc__legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    width: 300px;
    height: 300px;
    font-size: smaller;
    cursor: default;

    &--cat {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 40px;
        opacity: $legend-opacity;

        &:hover {
            opacity: 1;
        }
    }

    &--maigre {
        background-color: #a3f5ff;
    }

    &--normale {
        background-color: #54ce54;
    }

    &--surpoids {
        background-color: #ffff00;
    }

    &--obesitemod {
        background-color: #ffb800;
    }

    &--obesitesev {
        background-color : #ff6800;
    }

    &--obesitemor {
        background-color : #f44242 ;
    }
}


.anchor {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 54px;
    opacity: $legend-opacity;
    color: black;

    &__link {
        color: black;
        height: 54px;
        display: flex;
        align-items: center;
        opacity: $legend-opacity;
        text-decoration: none;
    } 

    &__link:hover{
        opacity: 1;
        color: black;
        text-decoration: none;
    }  

    &__link:focus{
        opacity: 1;
        color: black;
        text-decoration: none;
    } 

    &__link:active{
        opacity: 1;
        color: black;
        text-decoration: none;
    } 
}
 